<div class="col-xs-12">
  <table class="table">
    <tr *ngFor="let todo of todos; let i = index">
      <ng-container *withDelay="50 * i">
        <td [class.done-true]="todo.done">{{todo.id}}</td>
        <td [class.done-true]="todo.done">{{todo.text}}</td>
        <td>
          <button class="pull-right btn btn-default" (click)="markDone(todo)" *ngIf="!todo.done">
            Done
          </button>
          <button class="pull-right btn btn-default" (click)="markUndone(todo)" *ngIf="todo.done">
            Redo
          </button>
        </td>
      </ng-container>
    </tr>
  </table>
</div>
